
*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

body{

    .bg{
        position:absolute;
        bottom:60px;
        right:70px;
        z-index:-1;
    }
    .curve{
        position:absolute;
        bottom:0;
        left:0;
        width:50vw;
        height:auto;
        z-index:-1;
    }
    .quotes{
        position:absolute;
        top:185px;
        left:260px;
        z-index:-1;
    }

    .testimonialContainer{
        position:relative;
        height:100vh;
        width:100vw;
    }

    .quoteBox{
        position:absolute;
        top:250px;
        left:160px;
        z-index: 2;
        font-family: 'Inter',sans-serif;
        font-size:32px;
        font-weight: 300;
        width:650px;
        line-height:1.5;
        .name{
            margin-top:20px;
            font-size:16px;
            font-weight:700;
            display:inline;
        }
        span{
            font-weight:500;
            color:hsl(240, 18%, 77%);
            font-size:16px;
            margin-left:10px;
        }
    }

    .photo{
        z-index:1;
        position: absolute;
        right:160px;
        bottom:110px;
        box-shadow: 10px 25px 80px -40px hsl(240, 38%, 20%);
    }

    .buttonContainer{
        z-index:2;  
        position:absolute;
        right:530px;
        bottom:90px;
        background:white;
        height:45px;
        width:100px;
        border-radius: 25px;
        text-align: center;
        .prev{
            padding-top:15px;
            padding-right:35px;
        }
    }
}

@media all and (max-width:400px){
    .appContainer{
        .curve{
            width:100vw;
            height:auto;
        }
        .bg{
          width:90vw;
          height:auto;
          top:50px;
          right:20px;

        }
        .quotes{
           width:80px;
           height:auto;
           top:405px;
            left:160px;
        }
    }
    html{
        .testimonialContainer{
            display:flex;
            flex-direction:column-reverse;
            justify-content:center;
            align-items:center;
            flex-wrap:wrap-reverse;
            
          .quoteBox{
                    margin-bottom:50px;
                    text-align: center;
                    position:static;
                    font-size:18px;
                    width:85vw;
                    .name{
                        font-size:16px;
                    }
                }
                .photo{
                width:70vw;
                height:auto;
                position:static;
                margin-bottom: 100px;
                }
            .buttonContainer{
                right:130px;
                bottom:435px;
            }
        }
    }
    .personalInfo{
        display:flex;
        flex-direction: column;
        .occupation{
            margin-left:0;
        }
    }

}